<h2>ĐĂNG NHẬP</h2>

<form method="post">
    <input name="maSV" class="form-control" placeholder="Nhập mã SV" />
    <br />
    <button class="btn btn-primary">Đăng nhập</button>
    <p style="color:red">@ViewBag.Error</p>
</form>