@model NguyenTanSang_1899.Models.SinhVien

<h2>Thêm sinh viên</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label>Mã SV</label>
        <input asp-for="MaSV" class="form-control" />
        <span asp-validation-for="MaSV" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Họ tên</label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Giới tính</label>
        <select asp-for="GioiTinh" class="form-control">
            <option value="">-- Chọn --</option>
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </div>

    <div class="form-group">
        <label>Ngày sinh</label>
        <input asp-for="NgaySinh" type="date" class="form-control" />
        <span asp-validation-for="NgaySinh" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Ảnh</label>
        <input type="file" name="file" class="form-control" />
    </div>

    <div class="form-group">
        <label>Ngành</label>
        <select asp-for="MaNganh" asp-items="ViewBag.MaNganh" class="form-control">
            <option value="">-- Chọn ngành --</option>
        </select>
        <span asp-validation-for="MaNganh" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-success">Thêm</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}